@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

    <script>
        var DATA_COUNT = 5;
        var NUMBER_CFG = { count: DATA_COUNT, min: 0, max: 100 };

        var labels = ['Red', 'Orange', 'Yellow', 'Green', 'Blue'];
        var data = {
            labels: labels,
            datasets: [
                {
                    label: 'Dataset 1',
                    data: Utils.numbers(NUMBER_CFG),
                    backgroundColor: [
                        Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
                        Utils.transparentize(Utils.CHART_COLORS.orange, 0.5),
                        Utils.transparentize(Utils.CHART_COLORS.yellow, 0.5),
                        Utils.transparentize(Utils.CHART_COLORS.green, 0.5),
                        Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
                    ]
                }
            ]
        };

        new Chart("myChart", {
            type: 'polarArea',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Polar Area Chart'
                    }
                }
            },
        });
    </script>
   

</body>
</html>

